<a href="https://colab.research.google.com/github/BPeebs/Challenge_13/blob/main/Challenge_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [4]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [7]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [8]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION', 'CLASSIFICATION','USE_CASE','ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [11]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [13]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [19]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame.... to use pd.concat i had to drop the categorical variables from the main df
numerical_variables = applicant_data_df.drop(columns=(categorical_variables))

applicant_df = pd.concat(
    [encoded_df,
     numerical_variables],
     axis=1
)

# Review the Dataframe
applicant_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

In [21]:
applicant_df.dtypes

APPLICATION_TYPE_T10        float64
APPLICATION_TYPE_T12        float64
APPLICATION_TYPE_T13        float64
APPLICATION_TYPE_T14        float64
APPLICATION_TYPE_T15        float64
                             ...
SPECIAL_CONSIDERATIONS_N    float64
SPECIAL_CONSIDERATIONS_Y    float64
STATUS                        int64
ASK_AMT                       int64
IS_SUCCESSFUL                 int64
Length: 117, dtype: object

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [24]:
# Define the target set y using the IS_SUCCESSFUL column
y = applicant_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [25]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = applicant_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [26]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [28]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset (and test??)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [29]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features+1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [31]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1+1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [32]:
# Create the Sequential model instance
nn = Sequential()

In [33]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [34]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation='relu'))

In [35]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation='linear'))

In [37]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 58)                3422

 dense_2 (Dense)             (None, 1)                 59

=================================================================
Total params: 10,267
Trainable params: 10,267
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [38]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [39]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0327 - accuracy: 0.6911
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7547 - accuracy: 0.7203
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7507 - accuracy: 0.7229
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7413 - accuracy: 0.7217
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7748 - accuracy: 0.7200
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7741 - accuracy: 0.7240
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7569 - accuracy: 0.7133
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6878 - accuracy: 0.7255
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7252 - accuracy: 0.7266
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7144 - accuracy: 0.7268
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7156 - accuracy: 0.7275
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7336 - accuracy: 0.7282
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7011 - accuracy: 0.7298
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.7217 - accuracy: 0.7278
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6860 - accuracy: 0.7249
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6801 - accuracy: 0.7259
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6781 - accuracy: 0.7292
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6565 - accuracy: 0.7295
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6589 - accuracy: 0.7315
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6767 - accuracy: 0.7212
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.7282
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6590 - accuracy: 0.7261
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6734 - accuracy: 0.7301
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6526 - accuracy: 0.7259
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6359 - accuracy: 0.7306
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6502 - accuracy: 0.7276
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6553 - accuracy: 0.7297
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6542 - accuracy: 0.7288
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6547 - accuracy: 0.7290
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6515 - accuracy: 0.7317
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6577 - accuracy: 0.7276
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6645 - accuracy: 0.7226
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6429 - accuracy: 0.7317
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6491 - accuracy: 0.7239
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6254 - accuracy: 0.7320
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6138 - accuracy: 0.7326
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6335 - accuracy: 0.7283
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6323 - accuracy: 0.7306
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6329 - accuracy: 0.7271
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6366 - accuracy: 0.7309
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6448 - accuracy: 0.7306
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6425 - accuracy: 0.7271
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6370 - accuracy: 0.7266
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6097 - accuracy: 0.7343
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6095 - accuracy: 0.7322
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6181 - accuracy: 0.7282
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6390 - accuracy: 0.7332
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6418 - accuracy: 0.7322
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6352 - accuracy: 0.7341
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6335 - accuracy: 0.7322
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6291 - accuracy: 0.7335
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6368 - accuracy: 0.7329
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6417 - accuracy: 0.7285
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6436 - accuracy: 0.7301
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6414 - accuracy: 0.7346
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6349 - accuracy: 0.7337
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6392 - accuracy: 0.7348
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6566 - accuracy: 0.7332
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6465 - accuracy: 0.7351
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6489 - accuracy: 0.7348
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6446 - accuracy: 0.7343
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6350 - accuracy: 0.7354
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6525 - accuracy: 0.7304
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6492 - accuracy: 0.7308
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6507 - accuracy: 0.7337
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6539 - accuracy: 0.7291
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6463 - accuracy: 0.7341
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6455 - accuracy: 0.7313
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6471 - accuracy: 0.7337
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6425 - accuracy: 0.7334
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6292 - accuracy: 0.7342
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6506 - accuracy: 0.7354
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6641 - accuracy: 0.7331
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6514 - accuracy: 0.7365
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6421 - accuracy: 0.7357
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6409 - accuracy: 0.7358
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6258 - accuracy: 0.7347
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6235 - accuracy: 0.7348
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6216 - accuracy: 0.7361
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6231 - accuracy: 0.7359
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6237 - accuracy: 0.7348
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6231 - accuracy: 0.7345
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6176 - accuracy: 0.7346
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6271 - accuracy: 0.7271
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6227 - accuracy: 0.7364
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6264 - accuracy: 0.7351
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6255 - accuracy: 0.7372
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6314 - accuracy: 0.7364
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6313 - accuracy: 0.7332
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6312 - accuracy: 0.7339
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6355 - accuracy: 0.7366
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6286 - accuracy: 0.7365
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6331 - accuracy: 0.7317
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6393 - accuracy: 0.7364
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6396 - accuracy: 0.7361
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6428 - accuracy: 0.7338
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6271 - accuracy: 0.7360
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6319 - accuracy: 0.7243
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6251 - accuracy: 0.7355
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6311 - accuracy: 0.7370

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [40]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6674 - accuracy: 0.7257 - 380ms/epoch - 1ms/step
Loss: 0.6674118041992188, Accuracy: 0.7257142663002014

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [ ]:
# Set the model's file path
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

In [ ]:
# Create the Sequential model instance
nn_A1 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE


# Output layer
# YOUR CODE HERE


# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the Sequential model
nn_A1.# YOUR CODE HERE

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = # YOUR CODE HERE

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = 'applicant_success.h5'

# Export your model to a HDF5 file
nn.save(file_path)